<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.btc-lab.stay-awake</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/caffeinate</string>
		<string>-s</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/damianbiniarz/Library/Application Support/BTC Lab/logs/stay-awake.err</string>
	<key>StandardOutPath</key>
	<string>/Users/damianbiniarz/Library/Application Support/BTC Lab/logs/stay-awake.out</string>
</dict>
</plist>
